<div class="logo_ctnr"><img id="big_logo" src="{{static '/img/biglogo.png'}}" style="width:440px;height:550px;" /></div>
<div id="fullscreen"><img id="left" src="{{static '/img/left.png'}}" /></img><img id="displaying" src=""/><img id="right" src="{{static '/img/right.png'}}" /></div>
<div class="grid-nav"><p><b>Categories</b></p></div>
</p>
<div class="grid">
  <div class="ctgry appear">
    <a href="/events"><img src="{{static '/img/item09.jpg'}}"/></a>
    <span class="label">Events</span>
  </div>
  <div class="ctgry appear">
    <a href="/portraits"><img src="{{static '/img/item27.jpg'}}"/></a>
    <span class="label">Portraits</span>
  </div>
  <div class="ctgry appear">
    <a href="/family"><img src="{{static '/img/item18.jpg'}}"/></a>
    <span class="label">Family</span>
  </div>
  <div class="ctgry appear">
    <a href="/landscape"><img src="{{static '/img/item36.jpg'}}"/></a>
    <span class="label">Landscape</span>
  </div>
</div>
<script src="/main.js"></script>
