<div class="logo_ctnr"><img id="big_logo" src="{{static '/img/biglogo.png'}}" style="width:440px;height:550px;" /></div>
<div id="fullscreen"><img id="left" src="{{static '/img/left.png'}}" /></img><img id="displaying" src=""/><img id="right" src="{{static '/img/right.png'}}" /></div>
<div class="grid-nav"><p><b>Categories</b></p></div>
</p>
<div class="grid">
  <div class="ctgry appear one">
    <a href="/events"><img class="photoOn" src="{{static '/img/item09.JPG'}}"/></a>
    <span class="label">Events</span>
  </div>
  <div class="ctgry appear two">
    <a href="/portraits"><img class="photoTw" src="{{static '/img/item27.JPG'}}"/></a>
    <span class="label">Portraits</span>
  </div>
  <div class="ctgry appear three">
    <a href="/family"><img class="photoTr" src="{{static '/img/item18.JPG'}}"/></a>
    <span class="label">Family</span>
  </div>
  <div class="ctgry appear four">
    <a href="/landscape"><img class="photoFo" src="{{static '/img/item36.JPG'}}"/></a>
    <span class="label">Landscape</span>
  </div>
</div>
<script>
$('.photoOn').on('load', function (event) { $('.one').addClass('is-visible'); });
$('.photoTw').on('load', function (event) { $('.two').addClass('is-visible'); });
$('.photoTr').on('load', function (event) { $('.three').addClass('is-visible'); });
$('.photoFo').on('load', function (event) { $('.four').addClass('is-visible'); });
</script>
<script src="/main.js"></script>
